/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body and Background */
body {
    background-color: #0a0a0a;
    color: #e0e0e0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #1c1c1c;
}

.navbar .logo {
    font-size: 28px;
    font-weight: bold;
    color: #f0f0f0;
}

.navbar .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #d0d0d0;
    font-size: 18px;
}

.navbar .nav-links a.scan-link{
    background-color: #67c4ec;
    color: #1c1c1c;
    border-radius: 5px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px
}

.navbar .nav-links a.scan-link:hover{
    background-color: #347895;
    color: #010101;
    border-radius: 5px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 18px;
    padding: 10px
}

.navbar .nav-links a:hover {
    color: #ffffff;
}

/* Hero Section */
.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
}

/* Add a dark overlay */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Adjust opacity for desired tint */
    z-index: 1;
}

.hero-text {
    text-align: center;
    z-index: 2;
}

.typing-text {
    font-size: 48px;
    margin-bottom: 15px;
    color: #f0f0f0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #f0f0f0;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

.hero-text p {
    font-size: 22px;
    color: #b0b0b0;
}

/* Footer */
.footer {
    text-align: center;
    padding: 15px;
    background-color: #1c1c1c;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #d0d0d0;
    z-index: 3;
}

/* Typing Animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}